.App{
  width: 600px;
  height: 350px;
  border: 1px ;
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  background-color:rgb(237, 235, 235);
}
.card-body{
  width: 350px;
  height: 360px;
  border: 1px;
  background-color:white;
  border-radius: 10px;
}
.image{
  width: 350px;
  height: 160px;
}
.heading{
  text-align: left;
  padding-left: 15px;
}
.content{
  font-family:
}
.footer{
  text-align: left;
  color: deepskyblue;
  display:inline-block;
  /* font-weight: 800; */
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot{
  padding: 25px;
  color: rgb(2, 187, 249);
  display:inline-block;
  /* font-weight: 800; */
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}